.fanta {
  font-family: fantasy;
  color: black;
}
.red {
  color: red;
}
.hr {
  border: 1px solid red;
  width: 60px;
  border-radius: 25px;
  background: red;
}
.mar-top {
  margin-top: 90px;
}
.tk-img {
  box-shadow: -15px -10px 0px #555;
  height: 400px;
  width: 400px;
}
.justify-content-center{
    justify-content: center;
    display: flex;
}
@media only screen and (max-width: 990px) {
  .tk-img {
    height: 300px;
    width: 300px;
  }
  .mar-top {
    margin-top: 40px;
  }
}