.me-auto{
    width: 100%;
    justify-content: center;
}
.btn-1{
    background: red;
    color: white;
    padding: 5px 15px;
    border: 1px solid red;
    border-radius: 5px ;
}
.fix {
    width: 150px;
    justify-content: start;
  }

.mini {
    text-decoration: none;
    font-weight: 600;
    color: #555;
    margin: 10px 15px;
  }